</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane-departure fa-2x" style="color: whitesmoke;"></i>
    <a href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>>
      ADD MEAL
    </a>
    <a href="/flights/new" class=<%= title === 'Book Flight' ? 'active' : '' %>>
      BOOK FLIGHT
    </a>
    <a href="/flights" class=<%= title === 'Flight List' ? 'active' : '' %>>
      FLIGHT LIST
    </a>
  </nav>